<header class="container">
  <h1>Hello, angular-unit-testing</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo numquam reiciendis voluptas nesciunt consectetur
    sint veritatis quod, pariatur consequatur nam perspiciatis molestias. Esse voluptatibus earum dolorum perspiciatis
    ipsa nam ex!</p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
      <li><a routerLink="/people">People</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
